# Join Statements - Lab

## Introduction

In this lab, you'll practice your knowledge of join statements, using various types of joins and various methods for specifying the links between them.

## Objectives

You will be able to:
- Write queries that make use of various types of Joins
- Join tables using foreign keys

## CRM Schema

In almost all cases, rather then just working with a single table you will typically need data from multiple tables. 
Doing this requires the use of **joins ** using shared columns from the two tables. 

In this lab, you'll use the same Customer Relationship Management (CRM) database that you saw from the previous lesson.
<img src='images/Database-Schema.png' width="600">

## Connecting to the Database
Import the necessary packages and connect to the database **data.sqlite**.

In [9]:
#Your code here
import sqlite3 
import pandas as pd
conn = sqlite3.Connection('data.sqlite')
cur = conn.cursor()

## Display the names of all the employees in Boston.
Hint: join the employees and offices tables.

In [12]:
#Your code here
cur.execute("""select firstName, lastName from employees e join offices o on e.officeCode = o.officeCode;""")
df = pd.DataFrame(cur.fetchall())
df.columns = [i[0] for i in cur.description]
df

   firstName   lastName
0      Diane     Murphy
1       Mary  Patterson
2       Jeff   Firrelli
3    William  Patterson
4     Gerard     Bondur
5    Anthony        Bow
6     Leslie   Jennings
7     Leslie   Thompson
8      Julie   Firrelli
9      Steve  Patterson
10  Foon Yue      Tseng
11    George     Vanauf
12      Loui     Bondur
13    Gerard  Hernandez
14    Pamela   Castillo
15     Larry       Bott
16     Barry      Jones
17      Andy     Fixter
18     Peter      Marsh
19       Tom       King
20      Mami      Nishi
21   Yoshimi       Kato
22    Martin     Gerard

## Do any offices have no employees?
Hint: Combine the employees and offices tables and use a group by.

In [20]:
#Your code here
cur.execute("""select * from employees join offices using(officeCode) group by officeCode""")
df = pd.DataFrame(cur.fetchall())
df.columns = [i[0] for i in cur.description]
df

,employeeNumber,lastName,firstName,extension,email,officeCode,reportsTo,jobTitle,city,phone,addressLine1,addressLine2,state,country,postalCode,territory
0,1166,Thompson,Leslie,x4065,lthompson@classicmodelcars.com,1,1143,Sales Rep,San Francisco,+1 650 219 4782,100 Market Street,Suite 300,CA,USA,94080,NA
1,1216,Patterson,Steve,x4334,spatterson@classicmodelcars.com,2,1143,Sales Rep,Boston,+1 215 837 0825,1550 Court Place,Suite 102,MA,USA,02107,NA
2,1323,Vanauf,George,x4102,gvanauf@classicmodelcars.com,3,1143,Sales Rep,NYC,+1 212 555 3000,523 East 53rd Street,apt. 5A,NY,USA,10022,NA
3,1702,Gerard,Martin,x2312,mgerard@classicmodelcars.com,4,1102,Sales Rep,Paris,+33 14 723 4404,43 Rue Jouffroy D'abbans,,,France,75017,EMEA
4,1625,Kato,Yoshimi,x102,ykato@classicmodelcars.com,5,1621,Sales Rep,Tokyo,+81 33 224 5000,4-1 Kioicho,,Chiyoda-Ku,Japan,102-8578,Japan
5,1619,King,Tom,x103,tking@classicmodelcars.com,6,1088,Sales Rep,Sydney,+61 2 9264 2451,5-11 Wentworth Avenue,Floor #2,,Australia,NSW 2010,APAC
6,1504,Jones,Barry,x102,bjones@classicmodelcars.com,7,1102,Sales Rep,London,+44 20 7877 2041,25 Old Broad Street,Level 7,,UK,EC2N 1HN,EMEA

## Write 3 Questions of your own and answer them

In [ ]:
# Answers will vary

In [ ]:
# Your code here

In [ ]:
# Your code here

In [ ]:
# Your code here

## Level Up: Display the names of each product each employee has sold

In [30]:
# Your code here
cur.execute("""select p.productVendor, p.productName, p.productCode
from products p
join orderdetails o on p.productCode = o.productCode;""")
df = pd.DataFrame(cur.fetchall())
df.columns = [i[0] for i in cur.description]
df

,productVendor,productName,productCode
0,Min Lin Diecast,1969 Harley Davidson Ultimate Chopper,S10_1678
1,Min Lin Diecast,1969 Harley Davidson Ultimate Chopper,S10_1678
2,Min Lin Diecast,1969 Harley Davidson Ultimate Chopper,S10_1678
3,Min Lin Diecast,1969 Harley Davidson Ultimate Chopper,S10_1678
4,Min Lin Diecast,1969 Harley Davidson Ultimate Chopper,S10_1678
5,Min Lin Diecast,1969 Harley Davidson Ultimate Chopper,S10_1678
6,Min Lin Diecast,1969 Harley Davidson Ultimate Chopper,S10_1678
7,Min Lin Diecast,1969 Harley Davidson Ultimate Chopper,S10_1678
8,Min Lin Diecast,1969 Harley Davidson Ultimate Chopper,S10_1678
9,Min Lin Diecast,1969 Harley Davidson Ultimate Chopper,S10_1678
10,Min Lin Diecast,1969 Harley Davidson Ultimate Chopper,S10_1678
11,Min Lin Diecast,1969 Harley Davidson Ultimate Chopper,S10_1678
12,Min Lin Diecast,1969 Harley Davidson Ultimate Chopper,S10_1678
13,Min Lin Diecast,1969 Harley Davidson Ultimate Chopper,S10_1678
14,Min Lin Diecast,1969 Harley Davidson Ultimate Chopper,S10_1678
15,Min Lin Diecast,1969 Harley Davidson Ultimate Chopper,S10_1678
16,Min Lin Diecast,1969 Harley Davidson Ultimate Chopper,S10_1678
17,Min Lin Diecast,1969 Harley Davidson Ultimate Chopper,S10_1678
18,Min Lin Diecast,1969 Harley Davidson Ultimate Chopper,S10_1678
19,Min Lin Diecast,1969 Harley Davidson Ultimate Chopper,S10_1678
20,Min Lin Diecast,1969 Harley Davidson Ultimate Chopper,S10_1678
21,Min Lin Diecast,1969 Harley Davidson Ultimate Chopper,S10_1678
22,Min Lin Diecast,1969 Harley Davidson Ultimate Chopper,S10_1678
23,Min Lin Diecast,1969 Harley Davidson Ultimate Chopper,S10_1678
24,Min Lin Diecast,1969 Harley Davidson Ultimate Chopper,S10_1678
25,Min Lin Diecast,1969 Harley Davidson Ultimate Chopper,S10_1678
26,Min Lin Diecast,1969 Harley Davidson Ultimate Chopper,S10_1678
27,Min Lin Diecast,1969 Harley Davidson Ultimate Chopper,S10_1678
28,Classic Metal Creations,1952 Alpine Renault 1300,S10_1949
29,Classic Metal Creations,1952 Alpine Renault 1300,S10_1949
...,...,...,...
2966,Motor City Art Classics,Boeing X-32A JSF,S72_1253
2967,Motor City Art Classics,Boeing X-32A JSF,S72_1253
2968,Motor City Art Classics,Boeing X-32A JSF,S72_1253
2969,Unimax Art Galleries,Pont Yacht,S72_3212
2970,Unimax Art Galleries,Pont Yacht,S72_3212
2971,Unimax Art Galleries,Pont Yacht,S72_3212
2972,Unimax Art Galleries,Pont Yacht,S72_3212
2973,Unimax Art Galleries,Pont Yacht,S72_3212
2974,Unimax Art Galleries,Pont Yacht,S72_3212
2975,Unimax Art Galleries,Pont Yacht,S72_3212
2976,Unimax Art Galleries,Pont Yacht,S72_3212
2977,Unimax Art Galleries,Pont Yacht,S72_3212
2978,Unimax Art Galleries,Pont Yacht,S72_3212
2979,Unimax Art Galleries,Pont Yacht,S72_3212
2980,Unimax Art Galleries,Pont Yacht,S72_3212
2981,Unimax Art Galleries,Pont Yacht,S72_3212
2982,Unimax Art Galleries,Pont Yacht,S72_3212
2983,Unimax Art Galleries,Pont Yacht,S72_3212
2984,Unimax Art Galleries,Pont Yacht,S72_3212
2985,Unimax Art Galleries,Pont Yacht,S72_3212
2986,Unimax Art Galleries,Pont Yacht,S72_3212
2987,Unimax Art Galleries,Pont Yacht,S72_3212
2988,Unimax Art Galleries,Pont Yacht,S72_3212
2989,Unimax Art Galleries,Pont Yacht,S72_3212
2990,Unimax Art Galleries,Pont Yacht,S72_3212
2991,Unimax Art Galleries,Pont Yacht,S72_3212
2992,Unimax Art Galleries,Pont Yacht,S72_3212
2993,Unimax Art Galleries,Pont Yacht,S72_3212
2994,Unimax Art Galleries,Pont Yacht,S72_3212
2995,Unimax Art Galleries,Pont Yacht,S72_3212

## Level Up: Display the Number of Products each employee has sold

In [ ]:
#Your code here

## Summary

Congrats! You now know how to use join statements, along with leveraging your foreign keys knowledge!