# Join Statements - Lab

## Introduction

In this lab, you'll practice your knowledge of join statements, using various types of joins and various methods for specifying the links between them.

## Objectives

You will be able to:
- Write queries that make use of various types of Joins
- Join tables using foreign keys

## CRM Schema

In almost all cases, rather then just working with a single table you will typically need data from multiple tables. 
Doing this requires the use of **joins ** using shared columns from the two tables. 

In this lab, you'll use the same Customer Relationship Management (CRM) database that you saw from the previous lesson.
<img src='images/Database-Schema.png' width="600">

## Connecting to the Database
Import the necessary packages and connect to the database **data.sqlite**.

In [9]:
#Your code here
import sqlite3 
import pandas as pd
conn = sqlite3.Connection('data.sqlite')
cur = conn.cursor()

## Display the names of all the employees in Boston.
Hint: join the employees and offices tables.

In [33]:
#Your code here
cur.execute("""select firstName, lastName from employees e join offices o on e.officeCode = o.officeCode where city = 'Boston';""")
df = pd.DataFrame(cur.fetchall())
df.columns = [i[0] for i in cur.description]
df

  firstName   lastName
0     Julie   Firrelli
1     Steve  Patterson

## Do any offices have no employees?
Hint: Combine the employees and offices tables and use a group by.

In [42]:
#Your code here
cur.execute("""select city, count(*) 
from offices
join employees 
using(officeCode) 
group by city""")
df = pd.DataFrame(cur.fetchall())
df.columns = [i[0] for i in cur.description]
df

            city  count(*)
0         Boston         2
1         London         2
2            NYC         2
3          Paris         5
4  San Francisco         6
5         Sydney         4
6          Tokyo         2

## Write 3 Questions of your own and answer them

In [ ]:
# Answers will vary

In [ ]:
# Your code here

In [ ]:
# Your code here

In [ ]:
# Your code here

## Level Up: Display the names of each product each employee has sold

In [32]:
# Your code here
cur.execute("""select firstName, lastName, productName
from employees e
join
customers c
on e.employee
join orderdetails o on p.productCode = o.productCode
group by p.productName
order by p.productVendor;""")
df = pd.DataFrame(cur.fetchall())
df.columns = [i[0] for i in cur.description]
df

,productVendor,productName,productCode
0,Autoart Studio Design,1900s Vintage Bi-Plane,S24_2841
1,Autoart Studio Design,1932 Model A Ford J-Coupe,S18_2325
2,Autoart Studio Design,1937 Horch 930V Limousine,S24_3420
3,Autoart Studio Design,1962 Volkswagen Microbus,S24_2300
4,Autoart Studio Design,1968 Ford Mustang,S12_1099
5,Autoart Studio Design,1997 BMW R 1100 S,S24_1578
6,Autoart Studio Design,2002 Yamaha YZR M1,S50_4713
7,Autoart Studio Design,The Schooner Bluenose,S700_1138
8,Carousel DieCast Legends,18th century schooner,S24_2011
9,Carousel DieCast Legends,1913 Ford Model T Speedster,S18_2949
10,Carousel DieCast Legends,1926 Ford Fire Engine,S18_2432
11,Carousel DieCast Legends,1940 Ford Delivery Sedan,S24_3816
12,Carousel DieCast Legends,1958 Chevy Corvette Limited Edition,S24_2840
13,Carousel DieCast Legends,1966 Shelby Cobra 427 S/C,S24_1628
14,Carousel DieCast Legends,1982 Camaro Z28,S700_2824
15,Carousel DieCast Legends,Collectable Wooden Train,S18_3259
16,Carousel DieCast Legends,The Titanic,S700_3505
17,Classic Metal Creations,1928 British Royal Navy Airplane,S24_1785
18,Classic Metal Creations,1938 Cadillac V-16 Presidential Limousine,S24_2022
19,Classic Metal Creations,1949 Jaguar XK 120,S24_2766
20,Classic Metal Creations,1952 Alpine Renault 1300,S10_1949
21,Classic Metal Creations,1954 Greyhound Scenicruiser,S32_2509
22,Classic Metal Creations,1956 Porsche 356A Coupe,S24_3856
23,Classic Metal Creations,1957 Corvette Convertible,S18_4721
24,Classic Metal Creations,1961 Chevrolet Impala,S24_4620
25,Classic Metal Creations,1962 City of Detroit Streetcar,S50_1514
26,Classic Metal Creations,1965 Aston Martin DB5,S18_1589
27,Exoto Designs,1904 Buick Runabout,S18_4522
28,Exoto Designs,1917 Maxwell Touring Car,S18_3320
29,Exoto Designs,1932 Alfa Romeo 8C2300 Spider Sport,S18_4409
...,...,...,...
79,Second Gear Diecast,1969 Ford Falcon,S12_3891
80,Second Gear Diecast,1974 Ducati 350 Mk3 Desmo,S32_4485
81,Second Gear Diecast,1982 Lamborghini Diablo,S24_2972
82,Second Gear Diecast,2001 Ferrari Enzo,S12_1108
83,Second Gear Diecast,American Airlines: MD-11S,S700_4002
84,Second Gear Diecast,Corsair F4U ( Bird Cage),S24_3949
85,Studio M Art Models,1930 Buick Marquette Phaeton,S50_1341
86,Studio M Art Models,1936 Mercedes-Benz 500K Special Roadster,S18_1367
87,Studio M Art Models,1939 Cadillac Limousine,S18_4668
88,Studio M Art Models,1940 Ford Pickup Truck,S18_1097
89,Studio M Art Models,1957 Ford Thunderbird,S18_4933
90,Studio M Art Models,1957 Vespa GS150,S18_3782
91,Studio M Art Models,1970 Plymouth Hemi Cuda,S12_3990
92,Studio M Art Models,The Mayflower,S700_1938
93,Unimax Art Galleries,1900s Vintage Tri-Plane,S24_4278
94,Unimax Art Galleries,1903 Ford Model A,S18_3140
95,Unimax Art Galleries,1964 Mercedes Tour Bus,S18_2319
96,Unimax Art Galleries,1970 Chevy Chevelle SS 454,S24_1046
97,Unimax Art Galleries,1992 Ferrari 360 Spider red,S18_3232
98,Unimax Art Galleries,2002 Suzuki XREO,S12_2823
99,Unimax Art Galleries,HMS Bounty,S700_2047
100,Unimax Art Galleries,Pont Yacht,S72_3212
101,Welly Diecast Productions,1917 Grand Touring Sedan,S18_1749
102,Welly Diecast Productions,1936 Harley Davidson El Knucklehead,S18_2625
103,Welly Diecast Productions,1958 Setra Bus,S12_1666
104,Welly Diecast Productions,1968 Dodge Charger,S12_3380
105,Welly Diecast Productions,1969 Corvair Monza,S12_3148
106,Welly Diecast Productions,1969 Dodge Charger,S12_4675
107,Welly Diecast Productions,1971 Alpine Renault 1600s,S24_3371
108,Welly Diecast Productions,The Queen Mary,S700_3962

## Level Up: Display the Number of Products each employee has sold

In [ ]:
#Your code here

## Summary

Congrats! You now know how to use join statements, along with leveraging your foreign keys knowledge!