# Join Statements - Lab

## Introduction

In this lab, you'll practice your knowledge of join statements, using various types of joins and various methods for specifying the links between them.

## Objectives

You will be able to:
- Write queries that make use of various types of Joins
- Join tables using foreign keys

## CRM Schema

In almost all cases, rather then just working with a single table you will typically need data from multiple tables. 
Doing this requires the use of **joins ** using shared columns from the two tables. 

In this lab, you'll use the same Customer Relationship Management (CRM) database that you saw from the previous lesson.
<img src='images/Database-Schema.png' width="600">

## Connecting to the Database
Import the necessary packages and connect to the database **data.sqlite**.

In [9]:
#Your code here
import sqlite3 
import pandas as pd
conn = sqlite3.Connection('data.sqlite')
cur = conn.cursor()

## Display the names of all the employees in Boston.
Hint: join the employees and offices tables.

In [12]:
#Your code here
cur.execute("""select firstName, lastName from employees e join offices o on e.officeCode = o.officeCode;""")
df = pd.DataFrame(cur.fetchall())
df.columns = [i[0] for i in cur.description]
df

   firstName   lastName
0      Diane     Murphy
1       Mary  Patterson
2       Jeff   Firrelli
3    William  Patterson
4     Gerard     Bondur
5    Anthony        Bow
6     Leslie   Jennings
7     Leslie   Thompson
8      Julie   Firrelli
9      Steve  Patterson
10  Foon Yue      Tseng
11    George     Vanauf
12      Loui     Bondur
13    Gerard  Hernandez
14    Pamela   Castillo
15     Larry       Bott
16     Barry      Jones
17      Andy     Fixter
18     Peter      Marsh
19       Tom       King
20      Mami      Nishi
21   Yoshimi       Kato
22    Martin     Gerard

## Do any offices have no employees?
Hint: Combine the employees and offices tables and use a group by.

In [20]:
#Your code here
cur.execute("""select * from employees join offices using(officeCode) group by officeCode""")
df = pd.DataFrame(cur.fetchall())
df.columns = [i[0] for i in cur.description]
df

,employeeNumber,lastName,firstName,extension,email,officeCode,reportsTo,jobTitle,city,phone,addressLine1,addressLine2,state,country,postalCode,territory
0,1166,Thompson,Leslie,x4065,lthompson@classicmodelcars.com,1,1143,Sales Rep,San Francisco,+1 650 219 4782,100 Market Street,Suite 300,CA,USA,94080,NA
1,1216,Patterson,Steve,x4334,spatterson@classicmodelcars.com,2,1143,Sales Rep,Boston,+1 215 837 0825,1550 Court Place,Suite 102,MA,USA,02107,NA
2,1323,Vanauf,George,x4102,gvanauf@classicmodelcars.com,3,1143,Sales Rep,NYC,+1 212 555 3000,523 East 53rd Street,apt. 5A,NY,USA,10022,NA
3,1702,Gerard,Martin,x2312,mgerard@classicmodelcars.com,4,1102,Sales Rep,Paris,+33 14 723 4404,43 Rue Jouffroy D'abbans,,,France,75017,EMEA
4,1625,Kato,Yoshimi,x102,ykato@classicmodelcars.com,5,1621,Sales Rep,Tokyo,+81 33 224 5000,4-1 Kioicho,,Chiyoda-Ku,Japan,102-8578,Japan
5,1619,King,Tom,x103,tking@classicmodelcars.com,6,1088,Sales Rep,Sydney,+61 2 9264 2451,5-11 Wentworth Avenue,Floor #2,,Australia,NSW 2010,APAC
6,1504,Jones,Barry,x102,bjones@classicmodelcars.com,7,1102,Sales Rep,London,+44 20 7877 2041,25 Old Broad Street,Level 7,,UK,EC2N 1HN,EMEA

## Write 3 Questions of your own and answer them

In [ ]:
# Answers will vary

In [ ]:
# Your code here

In [ ]:
# Your code here

In [ ]:
# Your code here

## Level Up: Display the names of each product each employee has sold

In [31]:
# Your code here
cur.execute("""select p.productVendor, p.productName, p.productCode
from products p
join orderdetails o on p.productCode = o.productCode
group by p.productName;""")
df = pd.DataFrame(cur.fetchall())
df.columns = [i[0] for i in cur.description]
df

,productVendor,productName,productCode
0,Red Start Diecast,18th Century Vintage Horse Carriage,S18_3136
1,Carousel DieCast Legends,18th century schooner,S24_2011
2,Autoart Studio Design,1900s Vintage Bi-Plane,S24_2841
3,Unimax Art Galleries,1900s Vintage Tri-Plane,S24_4278
4,Unimax Art Galleries,1903 Ford Model A,S18_3140
5,Exoto Designs,1904 Buick Runabout,S18_4522
6,Motor City Art Classics,1911 Ford Town Car,S18_2248
7,Min Lin Diecast,1912 Ford Model T Delivery Wagon,S24_3151
8,Carousel DieCast Legends,1913 Ford Model T Speedster,S18_2949
9,Welly Diecast Productions,1917 Grand Touring Sedan,S18_1749
10,Exoto Designs,1917 Maxwell Touring Car,S18_3320
11,Carousel DieCast Legends,1926 Ford Fire Engine,S18_2432
12,Classic Metal Creations,1928 British Royal Navy Airplane,S24_1785
13,Highway 66 Mini Classics,1928 Ford Phaeton Deluxe,S32_4289
14,Gearbox Collectibles,1928 Mercedes-Benz SSK,S18_2795
15,Studio M Art Models,1930 Buick Marquette Phaeton,S50_1341
16,Exoto Designs,1932 Alfa Romeo 8C2300 Spider Sport,S18_4409
17,Autoart Studio Design,1932 Model A Ford J-Coupe,S18_2325
18,Min Lin Diecast,1934 Ford V8 Coupe,S18_2957
19,Second Gear Diecast,1936 Chrysler Airflow,S24_4258
20,Welly Diecast Productions,1936 Harley Davidson El Knucklehead,S18_2625
21,Red Start Diecast,1936 Mercedes Benz 500k Roadster,S24_3969
22,Studio M Art Models,1936 Mercedes-Benz 500K Special Roadster,S18_1367
23,Autoart Studio Design,1937 Horch 930V Limousine,S24_3420
24,Motor City Art Classics,1937 Lincoln Berline,S18_1342
25,Classic Metal Creations,1938 Cadillac V-16 Presidential Limousine,S24_2022
26,Studio M Art Models,1939 Cadillac Limousine,S18_4668
27,Motor City Art Classics,1939 Chevrolet Deluxe Coupe,S24_1937
28,Carousel DieCast Legends,1940 Ford Delivery Sedan,S24_3816
29,Studio M Art Models,1940 Ford Pickup Truck,S18_1097
...,...,...,...
79,Min Lin Diecast,1995 Honda Civic,S18_1984
80,Highway 66 Mini Classics,1996 Moto Guzzi 1100i,S10_2016
81,Red Start Diecast,1996 Peterbilt 379 Stake Bed with Outrigger,S32_3522
82,Exoto Designs,1997 BMW F650 ST,S32_1374
83,Autoart Studio Design,1997 BMW R 1100 S,S24_1578
84,Gearbox Collectibles,1998 Chrysler Plymouth Prowler,S18_2238
85,Red Start Diecast,1999 Indy 500 Monte Carlo SS,S18_2870
86,Min Lin Diecast,1999 Yamaha Speed Boat,S18_3029
87,Second Gear Diecast,2001 Ferrari Enzo,S12_1108
88,Gearbox Collectibles,2002 Chevy Corvette,S24_3432
89,Unimax Art Galleries,2002 Suzuki XREO,S12_2823
90,Autoart Studio Design,2002 Yamaha YZR M1,S50_4713
91,Red Start Diecast,2003 Harley-Davidson Eagle Drag Bike,S10_4698
92,Highway 66 Mini Classics,ATA: B757-300,S700_2834
93,Motor City Art Classics,America West Airlines B757-200,S700_2466
94,Min Lin Diecast,American Airlines: B767-300,S700_1691
95,Second Gear Diecast,American Airlines: MD-11S,S700_4002
96,Motor City Art Classics,Boeing X-32A JSF,S72_1253
97,Carousel DieCast Legends,Collectable Wooden Train,S18_3259
98,Second Gear Diecast,Corsair F4U ( Bird Cage),S24_3949
99,Highway 66 Mini Classics,Diamond T620 Semi-Skirted Tanker,S50_1392
100,Motor City Art Classics,F/A 18 Hornet 1/72,S700_3167
101,Unimax Art Galleries,HMS Bounty,S700_2047
102,Gearbox Collectibles,P-51-D Mustang,S18_2581
103,Unimax Art Galleries,Pont Yacht,S72_3212
104,Studio M Art Models,The Mayflower,S700_1938
105,Welly Diecast Productions,The Queen Mary,S700_3962
106,Autoart Studio Design,The Schooner Bluenose,S700_1138
107,Carousel DieCast Legends,The Titanic,S700_3505
108,Red Start Diecast,The USS Constitution Ship,S700_2610

## Level Up: Display the Number of Products each employee has sold

In [ ]:
#Your code here

## Summary

Congrats! You now know how to use join statements, along with leveraging your foreign keys knowledge!